<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>复习1</title>

    <!-- 引入vue -->
    <script src="./js/vue.js"></script>
    <script type="text/javascript" src="../js/dayjs.min.js"></script>

    <style>
      .demo1 {
        height: 50px;
        background-color: skyblue;
      }
      .basic {
        width: 200px;
        height: 100px;
        border: 1px solid black;
      }
      .normal {
        background-color: skyblue;
      }
      .happy {
        background-color: orange;
        font-size: 30px;
        color: red;
      }
      .bad {
        background-color: black;
        color: white;
        font-size: 20px;
      }
      .atguigu1 {
        font-size: 30px;
      }
      .atguigu2 {
        background-color: yellowgreen;
      }
      .atguigu3 {
        border: 2px solid red;
      }
      [v-cloak] {
        display: none;
      }
    </style>
  </head>
  <body>
    <!-- 定义一个容器 -->
    <div id="root">
      <h3>1.插值语法</h3>
      <h4>你好,{{name}}</h4>
      <h3>2.指令语法</h3>
      <a v-bind:href="school.url.toUpperCase()">点击去{{school.name}}学习1</a>
      <a v-bind:href="school.url">点击去{{school.name}}学习2</a>
      <h3>3.数据绑定</h3>
      单向数据绑定 : <input type="text" :value="msg" /> <br /><br />
      双向数据绑定 : <input type="text" v-model="msg" />
      <h3>4.事件处理</h3>
      <h4>欢迎来到{{school.name}}学习</h4>
      <button v-on:click="showInfo1">点击展示信息1(v-on绑定)</button
      ><br /><br />
      <button @click="showInfo1">点击展示信息1(@绑定)</button><br /><br />
      <button @click="showInfo2(666,$event)">点击展示信息2(传递参数)</button
      ><br /><br />
      <a :href="school.url" @click.prevent="showInfo3"
        >点击展示信息3(阻止默认事件)</a
      ><br /><br />
      <div class="demo1" @click="showInfo4">
        <button @click.stop="showInfo4">点击展示信息4(阻止冒泡)</button>
      </div>
      <br /><br />
      <div class="demo1" @click="showInfo4">
        <button @click="showInfo4">点击展示信息4(不阻止冒泡)</button>
      </div>
      <br /><br />
      <div class="demo1" @click="showInfo4">
        <a :href="school.url" @click.prevent.stop="showInfo4"
          >点击展示信息4(阻止冒泡+阻止默认事件)</a
        >
      </div>
      <br /><br />
      <div class="demo1" @click="showInfo4">
        <a :href="school.url" @click.stop="showInfo4"
          >点击展示信息4(阻止冒泡+不阻止默认事件)</a
        >
      </div>
      <br /><br />
      <div class="demo1" @click="showInfo4">
        <a :href="school.url" @click.prevent="showInfo4"
          >点击展示信息4(不阻止冒泡+阻止默认事件)</a
        >
      </div>
      <br /><br />
      <button @click.once="showInfo1">
        点击展示信息5(事件只触发一次,再点击不展示)</button
      ><br /><br />

      <div class="demo1" @click.self="showInfo4">
        (只有event.target是当前操作的元素时才触发事件)
        <button @click="showInfo4">
          点击展示信息6(不点击div不能触发div的点击事件也阻止了冒泡)
        </button>
      </div>
      <br /><br />
      看控制台(不太明白e.target.value???)<input
        type="text"
        placeholder="按下回车提示输入"
        @keyup.enter="showInfo5"
      />
      <h3>5.计算属性</h3>
      姓: <input type="text" v-model="firstName" /><br /><br />
      名: <input type="text" v-model="lastName" /><br /><br />
      全名: <span>{{fullName}}</span>
      <h3>6.监视属性</h3>
      姓: <input type="text" v-model="firstName2" /><br /><br />
      名: <input type="text" v-model="lastName2" /><br /><br />
      全名: <span>{{fullName2}}</span>
      <h3>7.绑定样式</h3>
      <h4>绑定class 字符串 点击盒子修改样式</h4>
      <div class="basic" :class="mood" @click="changeMood">{{name2}}</div>
      <h4>绑定class 数组</h4>
      <div class="basic" :class="classArr">{{name2}}</div>
      <h4>绑定class 对象 可以在vue修改布尔值</h4>
      <div class="basic" :class="classObj">{{name2}}</div>
      <h4>绑定style 对象</h4>
      <div class="basic" :style="styleObj">{{name2}}</div>
      <h4>绑定style 数组1</h4>
      <div class="basic" :style="[styleObj,styleObj1]">{{name2}}</div>
      <h4>绑定style 数组2</h4>
      <div class="basic" :style="styleArr">{{name2}}</div>
      <h3>8.条件渲染</h3>
      <h4>当前的n值是 : {{n}}</h4>
      <button @click="n++">点击n+1</button>
      <h4>v-show做渲染</h4>
      <h3 v-show="false">欢迎来到{{name3}}</h3>
      <h3 v-show="1===1">欢迎来到{{name3}}</h3>
      <h4>v-if做渲染</h4>
      <h3 v-if="false">欢迎来到{{name3}}</h3>
      <h3 v-if="1===1">欢迎来到{{name3}}</h3>
      <h4>v-else与v-else-if</h4>
      <div v-if="n===0">{{name3}}</div>
      <div v-else-if="n===1">南星</div>
      <div v-else-if="n===2">箫无敌</div>
      <div v-else>小熊无敌</div>
      <h4>v-if与template的配合使用</h4>
      <template v-if="n===1">
        <h3>南星</h3>
        <h3>箫无敌</h3>
        <h3>小熊无敌</h3>
      </template>
      <h3>9.列表渲染</h3>
      <h4>人员列表</h4>
      <ul>
        <li v-for="(p,id) in persons" :key="id">
          {{p.name}}-{{p.age}}-{{p.sex}}
        </li>
      </ul>
      <h4>人员列表过滤</h4>
      <input type="text" placeholder="请输入名字" v-model="keyWord" />
      <button @click="sortType= 2">年龄升序</button>
      <button @click="sortType= 1">年龄降序</button>
      <button @click="sortType= 0">原顺序</button>
      <ul>
        <li v-for="(p,id) in filPersons" :key="id">
          {{p.name}}-{{p.age}}-{{p.sex}}
        </li>
      </ul>
      <h3>10.Vue监视数据</h3>
      <h4>学生信息</h4>
      <button @click="students.age++">点击年龄加1岁</button>
      <button @click="addSex">添加一个性别属性:默认值为男</button>
      <button @click="students.sex='未知'">修改性别</button>
      <button @click="addFirstFriend">在列表首位添加一个朋友</button>
      <button @click="updateFirstName">修改第一个朋友的名字为:陈哲远</button>
      <button @click="addHobby">添加一个爱好</button>
      <button @click="updateFirstHobby">修改第一个爱好为:超级喜欢南星</button>
      <button @click="removeShuashuai">过滤掉爱好中的耍帅</button>
      <h4>姓名 : {{students.name}}</h4>
      <h4>年龄 : {{students.age}}</h4>
      <h4 v-show="students.sex">性别 : {{students.sex}}</h4>

      <h4>爱好 :</h4>
      <ul>
        <li v-for="(h,index) in students.hobby" :key="index">{{h}}</li>
      </ul>
      <h4>朋友们 :</h4>
      <ul>
        <li v-for="(f,index) in students.friends" :key="index">
          {{f.name}}-{{f.age}}
        </li>
      </ul>

      <h3>11.收集表单数据</h3>
      <form @submit.prevent="demo">
        账号: <input type="text" v-model.trim="userInfo.account" /> <br /><br />
        密码: <input type="password" v-model="userInfo.password" /><br /><br />
        年龄: <input type="number" v-model.number="userInfo.age" /><br /><br />
        性别: 男
        <input type="radio" name="sex" v-model="userInfo.sex" value="male" /> 女
        <input
          type="radio"
          name="sex"
          v-model="userInfo.sex"
          value="female"
        /><br /><br />
        爱好: 喜欢南星
        <input type="checkbox" v-model="userInfo.hobby" value="like" /> 耍帅
        <input type="checkbox" v-model="userInfo.hobby" value="handsom" />
        陪伴南星<input
          type="checkbox"
          v-model="userInfo.hobby"
          value="peiban"
        /><br /><br />
        所属地区:
        <select v-model="userInfo.address">
          <option value="">请选择地区</option>
          <option value="beijing">北京</option>
          <option value="shanghai">上海</option>
          <option value="xiangsan">象山</option>
          <option value="xiamen">厦门</option>
        </select>
        <br /><br />
        其他信息: <textarea v-model.lazy="userInfo.others"></textarea
        ><br /><br />
        <input type="checkbox" v-model="userInfo.agree" />阅读并接受
        <a href="http://www.arguigu.com">《用户协议》</a> <button>提交</button>
      </form>

      <h3>12.过滤器</h3>
      <h4>显示格式化后的时间</h4>
      <h5>现在是(计算属性) :{{fmtTime}}</h5>
      <h5>现在是(methods) :{{getFmtTime()}}</h5>
      <h5>现在是(过滤器) :{{time | timeFormater}}</h5>
      <h5>现在是(过滤器传参) :{{time | timeFormater('YYYY_MM_DD')}}</h5>

      <h3>13.内置指令总结</h3>
      <ul>
        <li v-for="(n,id) of neizhizhiling" :key="id">
          {{n.name}}:{{n.content}}
        </li>
      </ul>
      <h4>v-text</h4>
      <div>你好啊,{{school.name}}</div>
      <div v-text="school.name">你好啊,{{school.name}}</div>
      <div v-text="str">你好啊,{{school.name}}</div>
      <h4>v-html</h4>
      <div>你好啊,{{school.name}}</div>
      <div v-html="school.name">你好啊,{{school.name}}</div>
      <div v-html="str">你好啊,{{school.name}}</div>
      <h4>v-cloak</h4>
      <h5 v-cloak>{{school.name}}</h5>
      <h4>v-once</h4>
      <h5 v-once>初始化n2值是:{{n2}}</h5>
      <h5>当前的n2值是:{{n2}}</h5>
      <button @click="n2++">点击n2+1</button>
      <h4>v-pre</h4>
      <h5>Vue其实很简单</h5>
      <h4>当前的n3值是:{{n3}}</h4>
      <button @click="n3++">点我n3+1</button>

      <h3>14.自定义指令</h3>
      <h4>当前n4的值是: <span v-text="n4"></span></h4>
      <h4>放大十倍的n4值是: <span v-big="n4"></span></h4>
      <button @click="n4++">点击n4+1</button>
      <hr />
      <input type="text"  v-fbind:value="n4" />
    </div>
  </body>
  <script>
    const vm = new Vue({
      el: "#root",

      data: {
        name: "Jack",
        name2: "箫无敌&南星",
        name3: "月远之夜",
        keyWord: "",
        n: 0,
        n2: 1,
        n3: 1,
        n4: 1,

        sortType: 0, // 0 原顺序 1年龄降序 2 年龄升序
        school: {
          name: "尚硅谷",
          url: "http://www.atguigu.com",
        },
        str: "<h3>尚硅谷</h3>",
        time: 1665710039050,
        students: {
          name: "箫无敌",
          age: "18",
          hobby: ["喜欢南星", "爱吃醋", "一直陪伴南星", "耍帅"],
          friends: [
            { name: "陆子辰", age: "25" },
            { name: "叶晴", age: "24" },
          ],
        },
        neizhizhiling: [
          {
            id: "001",
            name: "v-bind",
            content: "单向绑定解析表达式,可简写为 :xxx",
          },
          { id: "002", name: "v-model", content: " 双向数据绑定" },
          { id: "003", name: "v-for", content: " 遍历数组/对象/字符串" },
          { id: "004", name: "v-on", content: "绑定事件监听,可简写为@" },
          {
            id: "005",
            name: "v-if",
            content: "条件渲染(动态控制节点是否存在)",
          },
          {
            id: "006",
            name: "v-else",
            content: "条件渲染(动态控制节点是否存在)",
          },
          {
            id: "007",
            name: "v-show",
            content: "条件渲染(动态控制节点是否展示)",
          },
          {
            id: "008",
            name: "v-text",
            content:
              "向其所在的节点中渲染文本内容;与插值语法的区别:v-text会替换掉节点中的内容,{{xxx}}则不会",
          },
          {
            id: "009",
            name: "v-html",
            content:
              "向指定节点中渲染包含html结构的内容;v-html会替换掉节点中所有的内容,{{xxx}}则不会;v-html可以识别html结构",
          },
          {
            id: "010",
            name: "v-cloak",
            content:
              "本质是一个特殊属性,Vue实例创建完毕并接管容器后,会删掉v-cloak属性;使用css配合v-cloak可以解决网速慢时页面展示出{{xxx}}的问题",
          },
          {
            id: "011",
            name: "v-once",
            content:
              "v-once所在节点在初次动态渲染后,就视为静态内容了;以后数据的改变不会引起v-once所在结构的更新,可以用于优化性能",
          },
          {
            id: "012",
            name: "v-pre",
            content:
              "跳过其所在节点的编译过程;可利用它跳过：没有使用指令语法，没有使用插值语法的节点，会加快编译",
          },
        ],
        userInfo: {
          acount: "",
          password: "",
          age: "18",
          sex: "female",
          hobby: [],
          address: "beijing",
          others: "",
          agree: "",
        },
        msg: "",
        firstName: "张",
        lastName: "三",
        firstName2: "张",
        lastName2: "三",
        fullName2: "张-三",
        mood: "normal",
        classArr: ["atguigu1", "atguigu2", "atguigu3"],
        classObj: {
          atguigu1: true,
          atguigu2: false,
          atguigu3: false,
        },
        styleObj: {
          color: "red",
          fontSize: "30px",
        },
        styleObj1: {
          backgroundColor: "yellowgreen",
        },
        styleArr: [
          { color: "red", fontSize: "30px" },
          {
            backgroundColor: "yellowgreen",
          },
        ],
        persons: [
          { id: "001", name: "南星月", age: 22, sex: "女" },
          { id: "002", name: "沈月", age: 25, sex: "女" },
          { id: "003", name: "箫无敌远", age: 23, sex: "男" },
          { id: "004", name: "陈哲远", age: 26, sex: "男" },
          { id: "005", name: "月远之夜", age: 100, sex: "未知" },
        ],
      },
      methods: {
        showInfo1() {
          alert("同学你好!");
        },
        showInfo2(number, event) {
          console.log(number, event);
        },
        showInfo3() {
          alert("同学你好!阻止默认事件(跳转页面)");
        },
        showInfo4() {
          alert("同学你好!!!");
        },
        showInfo5(e) {
          // console.log(e.key,e.keyCode);
          console.log(e.target.value);
        },
        changeMood() {
          const arr = ["normal", "happy", "bad"];
          const index = Math.floor(Math.random() * 3);
          this.mood = arr[index];
        },
        addSex() {
          // Vue.set(this.students,'sex','男')
          this.$set(this.students, "sex", "男");
        },
        addFirstFriend() {
          this.students.friends.unshift({ name: "南小星", age: "18" });
        },
        updateFirstName() {
          this.students.friends[0].name = "陈哲远";
        },
        addHobby() {
          this.students.hobby.push("对南星好");
        },
        updateFirstHobby() {
          // this.students.hobby.splice(0,1,'超级喜欢南星')
          // Vue.set(this.students.hobby,0,'超级喜欢南星')
          vm.$set(this.students.hobby, 0, "超级喜欢南星");
        },
        removeShuashuai() {
          this.students.hobby = this.students.hobby.filter((h) => {
            return h !== "耍帅";
          });
        },
        demo() {
          console.log(JSON.stringify(this.userInfo));
        },
        getFmtTime() {
          return dayjs(this.time).format("YYYY年MM月DD日 HH:mm:ss");
        },
      },
      computed: {
        fullName() {
          return this.firstName + "-" + this.lastName;
        },
        filPersons() {
          const arr1 = this.persons.filter((p) => {
            return p.name.indexOf(this.keyWord) !== -1;
          });

          // 判断是否排序
          if (this.sortType) {
            arr1.sort((p1, p2) => {
              return this.sortType === 1 ? p2.age - p1.age : p1.age - p2.age;
            });
          }
          return arr1;
        },
        fmtTime() {
          return dayjs(this.time).format("YYYY年MM月DD日 HH:mm:ss");
        },
      },
      watch: {
        firstName2(val) {
          this.fullName2 = val + "-" + this.lastName2;
        },
        lastName2(val) {
          this.fullName2 = this.firstName2 + "-" + val;
        },
      },
      filters: {
        timeFormater(value, str = "YYYY年MM月DD日 HH:mm:ss") {
          return dayjs(value).format(str);
        },
      },
      directives: {
        big(element, binding) {
          console.log(element, binding);
          element.innerText = binding.value * 10;
        },
        fbind: {
          bind(element, binding) {
            console.log(element,binding);
            element.value=binding.value
          },
          inserted(element, binding) {
            element.focus()
          },
          update(element, binding) {
            element.value=binding.value

          },
        },
      },
    });
  </script>
</html>
